services:
  db:
    image: postgres:15
    container_name: ${SERVICE_NAME}
    env_file: 
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '127.0.0.1:5432:5432'

volumes:
  postgres_data: